In [2]:
# Importing Packages
import sqlite3
import pandas as pd

db = sqlite3.connect('movies.db')

cursor = db.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS movies (id INT, Movie_Name VARCHAR(30), Lead_Actor VARCHAR(30), Lead_Actress VARCHAR(30), Director_Name VARCHAR(30) ,Year_Of_Release INT)")

ids = [1,2,3,4]
movies = ["Beast","Vikram","Spider-Man","Karnan"]
heros = ["Vijay","Kaml Haasan","Tom Holland","Dhanush"]
heroines = ["Pooja Hegde","Gayathrie Shankar","Zendaya","Rajisha Vijayan"]
directors = ["Nelson Dilipkumar","Lokesh Kanagaraj","Jon Watts","Mari Selvaraj"]
years = ["2022","2022","2021","2021"]

columns = ["ID","Movie_Name","Lead_Actor","Lead_Actress","Director_Name","Year_Of_Release"]

for id,movie,hero,heroine,director,year in zip(ids,movies,heros,heroines,directors,years):
    cursor.execute('''INSERT INTO movies(id, Movie_Name, Lead_Actor, Lead_Actress, Director_Name,Year_Of_Release) VALUES({},"{}","{}","{}","{}",{})'''.format(id,movie,hero,heroine,director,year))

query = """SELECT * from movies"""
cursor.execute(query)
records = cursor.fetchall()

print(pd.DataFrame(records,columns = columns),"\n")


query = """SELECT * from movies where Lead_Actor = 'Vijay'"""
cursor.execute(query)
records = cursor.fetchall()

print(pd.DataFrame(records,columns = columns))

   ID  Movie_Name   Lead_Actor       Lead_Actress      Director_Name  \
0   1       Beast        Vijay        Pooja Hegde  Nelson Dilipkumar
1   2      Vikram  Kaml Haasan  Gayathrie Shankar   Lokesh Kanagaraj
2   3  Spider-Man  Tom Holland            Zendaya          Jon Watts
3   4      Karnan      Dhanush    Rajisha Vijayan      Mari Selvaraj

   Year_Of_Release
0             2022
1             2022
2             2021
3             2021

   ID Movie_Name Lead_Actor Lead_Actress      Director_Name  Year_Of_Release
0   1      Beast      Vijay  Pooja Hegde  Nelson Dilipkumar             2022